.button {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  padding: 0.1875rem 0.5rem;

  border-radius: 999rem;

  border: none;

  background-color: var(--color-secondary);

  opacity: 0.6;

  box-shadow: var(--box-shadow-lg);

  cursor: pointer;

  transition: opacity ease 0.2s;

  font-size: var(--fz-300);

  &:hover {
    opacity: 1;
  }
}
