.result {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  padding-block-end: 1rem;

  .doctorCard {
    display: flex;
    flex-direction: column;

    background: var(--color-gray-10);

    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow-normal);

    padding: 1rem;

    .info {
      display: flex;
      justify-content: space-between;

      border-bottom: 2px dashed var(--color-gray-16);

      padding-bottom: 1rem;

      .info_container {
        display: flex;
        gap: 1rem;

        .right_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.4rem;

          .profile {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 4.5rem;
            height: 4.5rem;

            border-radius: 999rem;

            background-color: var(--color-gray-12);

            svg {
              width: 2.5rem;
              height: 2.5rem;

              color: var(--color-gray-16);
            }
          }

          .rate {
            display: flex;
            flex-direction: column;
            justify-content: center;

            svg {
              width: 1.5rem;
              height: 1.5rem;

              color: gold;
            }

            span {
              display: flex;
              justify-content: center;
              gap: 0.2rem;
            }

            b {
              color: var(--color-primary);
              font-size: 1.2rem;
            }

            label {
              font-size: var(--fz-200);
              font-weight: 600;
              text-align: center;
              margin-top: -0.2rem;
            }
          }
        }

        .left_box {
          p {
            font-size: var(--fz-300);
            color: var(--color-gray-40);
          }

          .service_types {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            margin-top: 1.3rem;

            span {
              display: flex;
              align-items: center;
              gap: 0.3rem;

              background-color: var(--color-gray-12);

              padding: 0 0.7rem;

              border-radius: 999rem;

              opacity: 0.7;

              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
      }

      .view_profile {
        max-block-size: 1.5rem;

        display: flex;
        align-items: center;
        gap: 0.2rem;

        color: var(--color-gray-70);

        transition: all ease 0.3s;

        &:hover {
          color: var(--color-primary);

          gap: 0.4rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      margin-top: 1rem;

      .item_detail {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        font-size: var(--fz-300);
      }

      span {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        font-size: var(--fz-400);
        font-weight: 600;

        color: var(--color-primary);
      }

      svg {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      margin-top: 1rem;
    }
  }

  .not_found {
    text-align: center;

    img {
      width: 80%;
      height: 80%;
    }
  }
}
