.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;

  label {
    font-size: var(--fz-400);
    font-weight: 600;
  }

  input.select {
    border-radius: 8px;

    font-weight: 300;

    padding: 0.5rem 1rem;

    background-color: var(--bg-select-option);
    color: var(--color-gray-98);

    outline: none;
    border: none;

    &:focus {
      outline: 2px solid var(--color-primary);

      background-color: var(--color-primary-fade);
    }
  }

  svg {
    position: absolute;

    left: 5%;
    top: 62%;

    cursor: pointer;

    transition: all ease 0.2s;
    &:hover {
      transform: rotate(90deg) scale(1.5);

      color: var(--color-primary);
    }
  }

  .container-list {
    width: 100%;

    position: absolute;

    height: fit-content;
    max-height: 20rem;

    top: 120%;

    z-index: 10;

    background-color: var(--bg-select-option);

    outline: 2px solid var(--bg-badge);

    padding: 0.5rem;

    border-radius: 8px;

    .list {
      display: flex;
      flex-direction: column;

      height: fit-content;
      max-height: 18.5rem;

      padding: 0.1875rem 0;

      overflow-y: auto;

      .item {
        cursor: pointer;

        padding: 0.5rem;

        color: var(--color-gray-70);

        border-radius: 6px;

        &:hover {
          background-color: var(--color-primary);
          color: var(--white-color);
          font-weight: 700;
        }
      }

      .not_found_text {
        cursor: default;
        text-align: center;
      }
    }
  }
}
