:root {
  --color-gray-98: hsl(0deg 0% 10%);
  --color-gray-90: hsl(0deg 0% 12%);
  --color-gray-80: hsl(0deg 0% 16%);
  --color-gray-70: hsl(0deg 0% 20%);
  --color-gray-40: hsl(0deg 0% 30%);
  --color-gray-30: hsl(0deg 0% 40%);
  --color-gray-20: hsl(0deg 0% 70%);
  --color-gray-16: hsl(0deg 0% 80%);
  --color-gray-12: hsl(0deg 0% 90%);
  --color-gray-10: hsl(0deg 0% 98%);

  --bg-header: hsla(208, 82%, 32%, 0.2);

  --color-default-background: hsl(208deg 82% 98%);
  --color-default-foreground: var(--color-gray-98);

  --color-primary: hsl(208deg 82% 32%);
  --color-primary-fade: hsl(208, 76%, 97%);
  --color-primary-lighter: hsl(208deg 82% 36%);
  --color-primary-darker: hsl(208deg 82% 28%);
  --color-primary-opposite: var(--color-gray-10);

  --border-radius: 0.875rem;

  --full-width: 75rem;
  --full-width-padding-inline: calc(max(100% - var(--full-width), 2rem) / 2);

  --animation-duration-fast: 0.1s;
  --animation-duration-normal: 0.5s;
  --animation-duration-slow: 1s;

  --box-shadow-normal: 0 2px 14px -8px var(--color-gray-20);
}

:root[data-theme="dark"] {
  --color-default-background: var(--color-gray-12);
  --color-default-foreground: var(--color-gray-98);

  --color-gray-98: hsl(0deg 0% 98%);
  --color-gray-90: hsl(0deg 0% 90%);
  --color-gray-80: hsl(0deg 0% 80%);
  --color-gray-70: hsl(0deg 0% 70%);
  --color-gray-40: hsl(0deg 0% 40%);
  --color-gray-30: hsl(0deg 0% 30%);
  --color-gray-20: hsl(0deg 0% 20%);
  --color-gray-16: hsl(0deg 0% 16%);
  --color-gray-12: hsl(0deg 0% 12%);
  --color-gray-10: hsl(0deg 0% 10%);

  --bg-header: hsla(208, 82%, 32%, 0.2);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;
}

p {
  color: var(--color-gray-80);
}

body {
  background-color: var(--color-default-background);
  color: var(--color-default-foreground);

  font-size: var(--fz-400);

  display: grid;
  grid-template-rows: 1fr auto auto;

  min-block-size: 100vh;
  min-block-size: 100dvh;

  > * {
    padding-inline: var(--full-width-padding-inline);
  }

  .tagline {
    background-color: var(--color-gray-16);

    padding-block: 1rem;

    text-align: center;
  }
}

body,
.scroll {
  --sb-track-color: #d2d2d2;
  --sb-thumb-color: #0f5695;
  --sb-size: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
