.not_found {
  display: grid;
  grid-template-areas: "text vector" "search_box vector";
  place-content: center;
  align-items: center;
  gap: 2rem;
  column-gap: 6rem;

  min-block-size: 100%;

  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  .vector {
    grid-area: vector;

    min-block-size: 100%;
    min-inline-size: 31rem;
  }
  .text {
    grid-area: text;

    align-self: end;
  }
  .search_box {
    grid-area: search_box;
    display: flex;
    justify-content: center;

    align-self: normal;

    block-size: 4rem;
  }
}
