.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  inline-size: min(75rem, 97%);
  max-height: 4rem;

  padding: 0 1rem;

  inset: 0;
  margin: 0 auto;
  margin-top: 2rem;

  border-radius: 1.5rem;

  position: fixed;

  background: var(--bg-header);

  backdrop-filter: blur(6px);

  padding-block: 1rem;

  overflow: hidden;

  z-index: 100;

  nav {
    > ul {
      display: flex;
      gap: 1rem;

      position: relative;

      padding-right: 0.5rem;

      &::before {
        position: absolute;
        content: "";
        background-color: var(--color-primary);
        border-radius: 999rem;
        width: var(--line-li);
        height: 0.1875rem;
        bottom: -35%;
        left: var(--offset-left);
        transition: all 0.5s ease;
      }

      > li {
        a {
          display: inline-block;

          font-size: var(--fz-400);

          transition: all 0.2s ease;

          &:hover {
            scale: 1.2;

            font-weight: 700;

            transition: all 0.2s ease;
          }

          &.active {
            color: var(--color-primary);

            font-weight: 600;
          }
        }
      }
    }
  }

  .section_left_nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-inline-start: auto;

    .toggle_theme {
      display: flex;
      align-items: center;
      gap: 1rem;

      width: 3em;
      height: 3em;

      position: relative;

      padding: 0.5rem;

      cursor: pointer;

      border-radius: 999rem;

      box-shadow: var(--box-shadow-toggle-theme);

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 80%;
        left: -1rem;
        background-color: hsla(0, 0%, 100%, 0.3);
      }

      #input_toggle_nav {
        position: absolute;

        opacity: 0;

        & ~ .theme_icon_dark {
          opacity: 1;
          visibility: visible;

          transform: rotate(0deg) scale(1);
          transition-delay: 0.3s;
        }

        & ~ .theme_icon_dark {
          opacity: 0;
          visibility: hidden;

          transform: rotate(-360deg) scale(0);
          transition-delay: 0s;
        }

        &:checked ~ .theme_icon_light {
          opacity: 0;
          visibility: hidden;

          transform: rotate(360deg) scale(0);
          transition-delay: 0s;
        }

        &:checked ~ .theme_icon_dark {
          opacity: 1;
          visibility: visible;

          transform: rotate(0deg) scale(1);
          transition-delay: 0.3s;
        }
      }

      .theme_icon_dark,
      .theme_icon_light {
        color: white;

        width: 2em;
        height: 2em;

        position: absolute;

        inset: 0;
        margin: auto;

        transition: 0.5s ease;
      }
    }

    .cta {
      background-color: transparent;
      color: var(--color-text-btn);

      padding: 0.5rem 1rem;

      outline: 2px solid var(--color-primary);
      border: none;
      border-radius: var(--border-radius);

      font-weight: 700;

      cursor: pointer;

      &:hover {
        background-color: var(--color-primary);
        color: white;
        outline: 2px solid var(--color-primary);
      }
    }
  }
}
