.page {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  gap: 1rem;

  padding-top: 8rem;

  min-block-size: 100%;

  .filter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--bg-card);

    position: sticky;

    height: fit-content;

    padding: 1rem;

    box-shadow: var(--box-shadow-normal);

    border-radius: var(--border-radius);

    top: 8rem;

    .title-and-clear {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        gap: 0.1875rem;

        svg {
          font-size: var(--fz-600);
        }
      }
    }

    .filter_items {
      .type_search {
        margin-bottom: 1.5rem;
      }

      .card:not(:last-child) {
        border-bottom: 1px solid var(--color-gray-16);
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;
      }

      .radio-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          font-size: var(--fz-400);
          font-weight: 600;
        }
      }
    }
  }

  .left-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
