.page {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.5rem;

    padding-top: 9rem;
    padding-bottom: 2rem;

    .services-section,
    .reviews-section,
    .about-section,
    .doctor-info {
        margin-top: 1.5rem;

        padding: 1.5rem;

        background-color: var(--color-gray-10);

        border-radius: 2rem;

        box-shadow: var(--box-shadow-normal);
    }

    .section-title {
        display: flex;
        align-items: center;
        gap: 0.375rem;

        color: var(--color-primary);

        font-size: 20px;
        font-weight: 600;

        svg {
            width: 2rem;
            height: 2rem;

        }
    }

    .right-section {

        .doctor-info {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            margin-top: 0rem;

            .doctor-avatar {
                width: 8rem;
                height: 8rem;

                border-radius: 50%;

                outline: 3px solid var(--color-primary);
            }

            .doctor-text-info {
                display: flex;
                flex-direction: column;
                gap: 0.125rem;

                p {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    svg {
                        width: 1.25rem;
                        height: 1.25rem;

                        color: var(--color-primary);
                    }

                    font-size: var(--fz-400);
                    color: var(--color-gray-30);
                }

                .doctor-name {
                    font-size: 24px;
                    font-weight: 600;
                }

                .contact-phone {
                    margin-top: 0.125rem;

                    svg {
                        margin-top: -0.375rem;
                    }
                }
            }
        }

        .about-services-container {
            display: flex;
            gap: 1.5rem;

            .about-section {
                width: 50%;
    
                .about-text {
                    margin-top: 0.5rem;
    
                    .about-item {
                        display: flex;
                        align-items: baseline;
                        gap: 0.375rem;

                        padding-right: 1.25rem;
                        
                        
                        .bullet-animate {
                            display: inline-block;
                            position: relative;

                            flex-shrink: 0;
        
                            filter: blur(1px);
        
                            width: 0.625rem;
                            height: 0.625rem;
        
                            border-radius: 999rem;
        
                            background-color: var(--color-primary);
        
                            &::before,
                            &::after {
                                position: absolute;
                                content: "";
        
                                width: 1.5rem;
                                height: 1.5rem;
        
                                inset: 0;
                                margin: auto;
        
                                right: -70%;
        
                                filter: blur(1px);
        
                                border-radius: 999rem;
        
                                background-color: var(--color-primary);
                            }
        
                            &::before {
        
                                animation: scale-animate 1s linear infinite;
                            }
        
                            &::after {
        
                                animation: scale-animate 1s 0.5s linear infinite;
                            }
                        }
                    }
                }
            }
    
            .services-section {
                width: 50%;

    
                svg {
                    width: 2rem;
                    height: 2rem;
    
                    color: var(--color-primary);
                }
    
                .services-list {
                    color: var(--color-gray-30);
    
                    padding-right: 1.25rem;
    
                    margin-top: 0.5rem;
    
                    .service-item {
                        display: flex;
                        align-items: center;
                        gap: 0.375rem;
    
                        .bullet-animate {
                            display: inline-block;
                            position: relative;
    
                            filter: blur(1px);
    
                            width: 0.625rem;
                            height: 0.625rem;
    
                            border-radius: 999rem;
    
                            background-color: var(--color-primary);
    
                            &::before,
                            &::after {
                                position: absolute;
                                content: "";
    
                                width: 1.5rem;
                                height: 1.5rem;
    
                                inset: 0;
                                margin: auto;
    
                                right: -70%;
    
                                filter: blur(1px);
    
                                border-radius: 999rem;
    
                                background-color: var(--color-primary);
                            }
    
                            &::before {
    
                                animation: scale-animate 1s linear infinite;
                            }
    
                            &::after {
    
                                animation: scale-animate 1s 0.5s linear infinite;
                            }
                        }
                    }
                }
    
            }
        }

        .reviews-section {
            .reviews-info {
                margin-top: 0.5rem;

                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;

                border-bottom: 2px dashed var(--color-gray-12);

                color: var(--color-gray-30);

                .preview-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    background: linear-gradient(90deg, var(--color-gray-10) 0%, var(--color-primary-fade), var(--color-gray-10) 100%);
                    background-size: 300%;

                    border: 2px solid var(--color-gray-12);

                    box-shadow: var(--box-shadow-normal);

                    padding: 0.5rem 1rem;

                    margin-bottom: 1rem;

                    border-radius: 1rem;

                    animation: animated-background 10s linear infinite;

                    &>* {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        font-size: var(--fz-400);
                        font-weight: 500;

                        svg {
                            width: 1.5rem;
                            height: 1.5rem;

                            color: var(--color-primary);
                        }

                        span {
                            display: flex;
                            align-items: center;
                            gap: 0.25rem;

                            font-size: var(--fz-300);

                            b {
                                font-size: var(--fz-450);
                                font-weight: 700;
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }

            .review-criteria,
            .review-wait-time {
                margin-top: 0.5rem;
            }

            .comments-provider {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            
                .filter-search {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.5rem;
            
                    & > div {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .left-section {
        .services-types-section {
            position: sticky;
            top: 9rem;

            padding: 1rem 2rem;

            border-radius: 3rem;

            background-color: var(--color-gray-10);

            box-shadow: var(--box-shadow-normal);

            h2 {
                display: flex;
                align-items: center;
                gap: 0.375rem;

                color: var(--color-primary);

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .service-features {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                margin: 1rem 0;

                .badge-item {
                    padding: 0.25rem 0.5rem;
                    
                    background-color: var(--color-gray-12);
    
                    border-radius: 999rem;
    
                    font-size: var(--fz-300);
                }
            }


            .next-slot,
            .service-price,
            .service-duration,
            .service-description,
            .service-features {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.5rem;
                color: var(--color-primary);
                font-weight: 600;

                span {
                    color: var(--color-gray-30);
                    font-weight: 400;
                }
            }

            .services-types-list {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                margin: 1rem 0;
            }

            .service-type-item {
                padding: 1rem;
                border: 2px solid var(--color-gray-12);
                border-radius: 2rem;

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 0.375rem;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                button {
                    border-radius: 1rem;

                    font-size: var(--fz-400);
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes scale-animate {
    from {
        scale: 0;
        opacity: 100;
    }

    to {
        scale: 1;
        opacity: 0;
    }
}

@keyframes animated-background {
    0% {
        background-position: -150% center;
    }

    50% {
        background-position: 150% center;
    }
}